{
    "target_dir": "G:/Users/chiyo/Pictures/movie/2025/",
    "movie_tag": "2025年",
    "privacy_status": "private",
    "category_id": "22",
    "uploaded_list_file": "./uploaded_list.txt"
}

